{% extends "base.html" %}

{% block title %}ホーム{% endblock title %}

{% block content %}
    <div>
        <h1>Third-party authentication demo</h1>

        <p>
        <ul>
            {% if user and not user.is_anonymous %}
                <li>
                    <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                </li>
                <li>
                    <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
                </li>
            {% endif %}
        </ul>
        </p>
    </div>
{% endblock content %}